
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}

html, body {
    height: 100%;
    width: 100%;
    
  overflow: hidden; /* locomotive ke case me ye chahiye */
}

/* heirarchy of z-index of loader is: 
phle sabse neeche video z-index:6,
yellow-2 : z-index-7
yellow-1: z-index-8,
text-h1 :z-index:9
#loader : z-index:99 sabse jada 
*/
/* 
*/

main{
    background-color: #000000;
}

#loader{
    height: 100vh;
    width: 100%;
    background-color: #ffe8e8;
    position: relative;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    top:0;
    left:0;
    z-index: 99;
    overflow: hidden;
    /* display: none;  */
}
.yellow-div{
    height: 100%;
    width: 100%;
    background-color: #F5E41B;
    position: absolute;
}
#yellow-1{
    z-index: 8;
    /* background-color: red; */
}
#yellow-2{
    z-index: 7;
    /* background-color: blue; */
}
#loader video{
   
    height: 100vh;
    width: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 6;
}
#loader h1{
   
    font-size: 6.0vw;
    line-height:7vw;
    font-weight: 100;
    letter-spacing: -3px;
    position: relative;
    z-index: 9;
    /* background-color: green; */
    z-index: 9;
} 
.section{
    height: 100vh;
    width: 100%;
}
#section-1{
    text-transform: uppercase;
    background-color: #F5E41B;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}
nav{
    width: 100%;
    padding: 10px ;
    /* background-color: rgb(255, 0, 0); */
    position: absolute;
    top:0;
    left:0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
nav h2{
    font-size: 2vw;
    text-decoration: line-through;
}
nav #actions{
    width: 40%;
    /* background-color: rgb(0, 255, 21); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
nav #actions a{
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-size: 1vw;
}
nav #actions a:nth-last-child(1){
   font-size: 1.7vw;
}
#section-1 h1{
    font-size: 6.0vw;
    line-height:7vw;
    font-weight: 100;
    letter-spacing: -3px;
}
#section-1 i{
    font-size: 2.0vw;
    font-weight: 900;
    position: absolute;
    bottom:6%;
    left:50%;
    cursor: pointer;
}




#section-2{
    background-color: #000000;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
     background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 0.4s ease, background-size 0.4s ease;
  position: relative;
  overflow: hidden;
}
.elem{
    /* background-color: red; */
    width: 100%;
    position: relative;
    cursor: pointer;
}
.elem h2{
    font-size: 6vw;
    text-transform: uppercase;
    font-weight: 100;
    position: relative;
    z-index: 9;
    line-height: 6.3vw;
    letter-spacing: 0.7vw;
    transition-delay: 0.2s;
    font-style: normal; /*as hover pe ham italic kar rahe hai*/
}
.elem .move{
    background-color: #F5E41B;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    padding: 5px 0;
    position: absolute;
    top:50%;
    transform: translate(0,-40%) scaleY(0);
    /* opacity: 0;  ye norma*/ 
    transition: all ease 0.3s;
    overflow: hidden;
}
.elem .move .blur{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    height: 100%;
    width: 30%;
    background:linear-gradient(to right, #f5e31bd5,#F5E41B,#f5e31bd6);
    box-shadow:  10px 0px 20px 20px #F5E41B,-10px 0px 20px 100px #F5E41B;
    
    z-index: 8;
}
.elem .move .moving-in{
    white-space: nowrap;
    display: inline-block;
    animation: anim 4s linear infinite  ;   
}
.elem .move .moving-in h5{
    display: inline-block;
    color: #000000;
    font-size: 17px;
    font-family: 'Gilroy',sans-serif;
    text-transform: uppercase;
    margin-right: 35px;
    font-weight: 500;
    opacity: 0;
    transition: all ease 0.3s;
    transition-delay: 0.2s;
  
}
@keyframes anim {
    0%{
        transform: translateX();
    }
    100%{
        transform: translateX(-100%);
    }
}

/* elem pe hover hone pe uske h2 ka color black */
.elem:hover h2{
    color: #000000;   
    font-style: italic;
}
/* elem pe hover hone pe uske andar wale moving ko opacity 1 jisse vo visible ho jaye */
.elem:hover .move{  
    /* scaleY(0) se ye move abhi gyab hai and hover pe scaleY(1) se ye aisa lagega ki ye khulta hua aa rha hai move wla */
    transform: translate(0,-40%) scaleY(1);
}
.elem:hover .move .moving-in h5{  
    opacity: 1;
}



#section-3{

    min-height: auto;
    /* min-height: 100vh; So kam se kam 100vh height rahegi aur uske aage badhi rahe chahe to */
    width: 100%;
    background-color: #ffffff;
}
.image-container{
   
   padding: 30px;
   display: flex;
  
}

.image-div{
    height: 70vh;
    width: 28vw;
    /* background-color: red; */
    position: relative;
    overflow: hidden;
    margin: 40px 30px;
}
.image-div img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
     transition: all ease 0.5s;
}
.image-div .overlay{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #0000001e;
    /* background-color: #000000; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all ease 0.5s;
    z-index:9 ;
}
.image-div .overlay h3{
    font-size: 3em;
    color: white;
    font-weight: 100;
    line-height: 2.7vw;
    opacity: 0;
     transition: all ease 0.5s;
     transition-delay: 0.2s;
}
.image-div:hover .overlay{
    background-color: #000000;
    
}
.image-div:hover .overlay h3{
   opacity: 1;

}
.image-div:hover img{
 scale: 1.1;
}

/*Select each line individually and set some to disoredr line */
.line:nth-child(1) .image-div:nth-child(2){
 height: 40vh;
}

.footer{
    height: 40vh;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    gap:10px;
}
.footer h4{
    font-family: 'Gilroy',sans-serif;
    text-transform: uppercase;
    font-size: 1vw;
    cursor: pointer;
}
.footer i{
    font-size: 2vw;
    cursor: pointer;
}
.footer .foot{
    height: 50%;
    width: 100%;
    background-color: rgb(0, 0, 0);
}